<mat-toolbar    class="mat-elevation-z2"
                color="primary">
    <mat-toolbar-row    id="main-toolbar-row"
                        [class]="mainToolbarClass">
      <a [class.logo-login-page]="!userIsLogged" href="https://www.cod3r.com.br/" target="_blank">
        <img [class]="logoClass" mat-card-image src="assets\icons\logotipo-cod3r-white.png">
      </a>

      <button *ngIf="userIsLogged" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="userIsLogged && showSearchToolbar" id="second-toolbar-row">
      <form class="full-width">
        <mat-form-field id="search-input" class="full-width">
          <input matInput type="search" placeholder="Pesquisar">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    </mat-toolbar-row>
</mat-toolbar>