#second-toolbar-row {
    margin-top: 20px;
}

#search-input {
    font-size: medium;
}

.main-toobar-login-page {
    height: 25vh;
}

.main-toolbar-home-page {
    justify-content: space-between;
}

.logo-login-page {
    display: block;
    width: 80vw;
    margin: auto;
}

.logo-home-page {
    display: block;
    width: 50vw;
}