.answer-content {
    color: grey;
    font-size: small;
    max-height: 200px;
    overflow: overlay;
}

.answer-content-card {
    padding: 0;
}

.mat-action-row-page-action-script {
    justify-content: space-between;
}

.mat-action-row-content-script {
    justify-content: flex-end;
}

.mat-action-row .edit-button {
    color: #323d83e3;
    margin-left: 0px;
}

.mat-action-row .delete-button {
    color: #b73e35e3;
    margin-left: 0px;
}

.mat-action-row .next-button {
    margin-left: 0px;
    padding-left: 12px;
}

mat-panel-title {
    width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    flex-grow: 0;
}

#spinner-wrapper {
    display: flex;
    height: 256px;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    overflow: hidden;
}
