<div *ngIf="categoriesWithAnswersObservable | async as categoriesWithAnswers; else loading">
    <mat-accordion>
        <mat-expansion-panel  #categoryPainel
                                *ngFor="let category of categoriesWithAnswers; let categoryIndex = index"
                                (opened)="setStep(categoryIndex)"
                                [expanded]="step === categoryIndex">
            <mat-expansion-panel-header>
                <mat-panel-title class="disable-text-selection">
                    {{(category | async)?.name}}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list *ngFor="let answer of (category | async)?.answers | filter: searchService.searchText; let answerIndex = index">
                <mat-divider *ngIf="answerIndex != 0"></mat-divider>

                <mat-list-item>
                    <div mat-line>{{answer.name}}</div>
                    <button mat-button
                            mat-icon-button
                            class="answer-notes-button"
                            matTooltip="Adicionar resposta"
                            [matTooltipShowDelay]="tooltipShowDelay.value"
                            matTooltipPosition="left"
                            (click)="$event.stopPropagation()"
                            (click)="scriptContext.insertAnswer(answer.content)">
                      <mat-icon>notes</mat-icon>
                    </button>
                </mat-list-item>

                <div mat-line class="answer-content">
                    <div class="ql-container ql-snow" style="border-width: 0;">
                        <div style="width: 100%" class="ql-editor" [innerHTML]="byPassHTML(answer.content)"></div>
                    </div>
                </div>
            </mat-list>

            <mat-action-row [class]="scriptContext.isPageActionScript ? 'mat-action-row-page-action-script' : 'mat-action-row-content-script'">
                <div *ngIf="scriptContext.isPageActionScript">
                    <button mat-button
                            mat-icon-button
                            class="edit-button"
                            matTooltip="Editar categoria"
                            [matTooltipShowDelay]="tooltipShowDelay.value"
                            matTooltipPosition="above"
                            (click)="navigateToEditCategory(category)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-button
                            mat-icon-button
                            class="delete-button"
                            matTooltip="Apagar categoria"
                            [matTooltipShowDelay]="tooltipShowDelay.value"
                            matTooltipPosition="above"
                            (click)="openDialog(category)">
                    <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <div>
                    <button *ngIf="step > 0" mat-button color="warn" (click)="prevCategory()">Anterior</button>
                    <button mat-button class="next-button" color="primary" (click)="nextCategory()">Próxima</button>
                </div>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<ng-template #loading>
    <div id="spinner-wrapper">
        <mat-spinner diameter="50"></mat-spinner>
    </div>
</ng-template>
