<mat-card class="main-card mat-elevation-z0">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="loginFormGroup">
                <mat-form-field class="full-width">
                    <input matInput placeholder="E-mail" formControlName="email" type="username">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput placeholder="Senha" formControlName="password" type="password">
                </mat-form-field>

                <button
                    class="full-width"
                    mat-raised-button
                    color="primary"
                    [disabled]="loginFormGroup.invalid"
                    (click)="login()"
                    >Entrar</button>
            </form>
        </mat-card-content>
    </mat-card>
</mat-card>