#add-button {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    z-index: 2;

    background: #f1f3ff;
}

.mat-tab-group {
    height: 412px;
    background: #ffffff;
}